<section class="content">
    <span style="display: inline-flex;">
        <img
            class="player-image"
            [src]="player?.photo"
        />
        <section class="player-bio">
            <label class="bio-label">Name</label>
            <h2 class="bio-info">{{ player?.name }}</h2>
            <label class="bio-label">Team</label>
            <h2 class="bio-info">{{ player?.team }} (#{{player?.jersey_num}})</h2>
            <label class="bio-label">Date of Birth</label>
            <h2 class="bio-info">{{ player?.birthday }}</h2>
            <label class="bio-label">Hometown</label>
            <h2 class="bio-info">{{ player?.hometown }}</h2>
        </section>
        <section>
            <!-- <table mat-table #table [dataSource]="">
                <ng-container matColumnDef="column">
                    <th mat-header-cell *matHeaderCellDef> header </th>
                    <td mat-cell *matCellDef="let row"> {{row.column}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['column']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['column'];"></tr>
            </table> -->
        </section>
    </span>
</section>
