<section class="display-container">
    <div class="player-search-container">
        <h2 class="header">Player Database</h2>
        <form>
            <input
            type="text"
            id="modern-input"
            placeholder="Filter by player name..."
            class="player-search"
            #filter
            />
            <button type="button" class="player-search-button" (click)="filterResults(filter.value)">Search</button>
        </form>
    </div>
</section>
<section class="player-list">
    <app-player
    *ngFor="let player of filteredPlayerList"
    [player]="player"
    ></app-player>
</section>
