<section class="display-container">
    <div class="player-search-container">
        <h2 class="regular-font">Player Database</h2>
        <form>
            <input
            type="text"
            id="modern-input"
            placeholder="Type a player's name..."
            class="player-search"
            />
            <button type="button" class="player-search-button">Search</button>
        </form>
    </div>
</section>
<section class="show-area">
    <app-player [player]="player"></app-player>
</section>
